@page "/"
@rendermode InteractiveServer

<PageTitle>Inicio</PageTitle>

<center>
<h1>TimeEdu</h1>

<p>Aplicación para registrar a los estudiantes con tardanza a la escuela.</p>
</center>

<table class = "table table-hover table-bordered mb-4">
    <thead>
        <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Curso</th>
        <th>Matrícula</th>
        <th>Fecha</th>
        <th>Motivo</th>
        </tr>
    </thead>
</table>